.banner {
    width: 100%;
    height: 100px;
    background-color: aqua;
    position: fixed;
}

.about-container {
    background-color: #FFA53A;
    padding: 100px;

    .sub-container {
        height: 800px;
        background-color: #5E17EB;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}