<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="#">
            <img src="assets/images/logo-small-light.PNG" height="30" alt="" loading="lazy" />
            <img src="assets/images/logo-text-light.PNG" height="30" alt="" loading="lazy" />

        </a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" (click)="buttonsNav.toggle()" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample" mdbCollapse #buttonsNav="mdbCollapse">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contactus">Contact us</a>
                </li>
                <!-- Dropdown -->
                <li mdbDropdown class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        mdbDropdownToggle aria-expanded="false">
                        Discover
                    </a>
                    <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" (click)="showSlider(personasImages)">Buyer Personas</a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="showSlider(cjmImages)">Customer Journey Map</a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="showSlider(swotImages)">SWOT analysis</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Left links -->

            <div class="d-flex align-items-center">
                <button type="button" class="btn btn-link px-3 me-2">
                    Login
                </button>
                <button type="button" class="btn btn-primary me-3">
                    Sign up for free
                </button>
                <a class="btn btn-dark px-3" href="#" role="button"><i class="fab fa-google"></i></a>
            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<ng-image-slider id="slider" [images]="sliderImages" (lightboxClose)="onSliderClose()"></ng-image-slider>