.carousel-item {
    height: 50vh;
}

.bg-main {
    background-color: #5E17EB;
    border-radius: 0.375rem;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.bg-sub {
    background-color: #5E17EB;
    border-radius: 0.375rem;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}