<mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
    <mdb-carousel-item>
        <img src="assets/images/pretty.webp" class="d-block w-100" style="background-position: center" alt="..." />
        <div class="carousel-caption d-none d-md-block bg-main">
            <h5>Making unique goods since 2022</h5>
            <p>Our company was created to meet the individual needs of the consumer. Only we have not only many
                products, but also a wide variety of colors/designs/fonts/images etc. In addition, the opportunity to
                create your own</p>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img src="assets/images/many-powers.jpg" class="d-block w-100 " alt="..." />
        <div class="carousel-caption d-none d-md-block bg-sub">
            <h5>Our products</h5>
            <p>With us, you can find power banks according to any characteristics: from small 10,000mAh to a solid
                50,000mAh,
                as well as powerful charging stations. By visiting our constructor, you can create a unique design for
                you
                in just a few clicks.</p>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img src="assets/images/banner.PNG" class="d-block w-100" alt="..." />
    </mdb-carousel-item>
</mdb-carousel>